.Cartwidget {
    height: 70px;
    width: 80px;
    margin: 3px;
    background-color: blueviolet;
    color: black;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: left;
    align-items: center;
    text-decoration: none;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    font-size: x-large;
}

.imag {
    height: 40px;
    width: 40px;
    display: flex;
    margin-left: 8px;
}