.list-cart {
    border-radius: 10px;
    border: 2px solid #e1e1e1;
}

.list {
    display: block;
    justify-content: space-around;
}

h5 {
    background-color: #e1e1e1;
}

.list-class {
    width: 25%;
    display:inline-table;
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.list-total {
    display: flex;
    justify-content: right;
    margin-right: 8%;
}

.list-title {
    font-size: 20px;
    font-weight: bold;
}